<nav>
  <a href="">Home</a>
  <a href="">Lista</a>
  <div class="perfil" (click)="toggleDropdown()">
    <a href="#" id="perfil-link">Perfil</a>
    <div id="perfil-dropdown" [ngClass]="{'show': dropdownOpen}" class="dropdown-content">
      <p id="nome-usuario">Nome do Usuário</p>
      <button id="logout-btn" (click)="logout()">Sair</button>
    </div>
  </div>
  <a href="https://www.flaticon.com/br/icones-gratis/perfil" title="perfil ícones">Perfil ícones criados por Freepik - Flaticon</a>
</nav>

