nav {
  background-color: rgb(86, 86, 248);
  height: 50px;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
}

nav a {
  color: white;
  font-weight: 500;
  margin-right: 10px;
  text-decoration: none;
}

button.profile-dropdown {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  padding: 0;
  color: white;
  cursor: pointer;
  font-size: 12px;
  position: relative;
}


/* Estiliza o ícone e o nome do usuário */
button.profile-dropdown i {
  margin-right: 8px;
  font-size: 1.5em;
  color: white;
}

#username-text{
  text-transform: capitalize;
  margin-left: 0.5em;
}

span{
  margin-right: 2px;
  display: flex;
}
