nav{
  background-color: rgb(86, 86, 248);
  height: 50px;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
}

.perifl{
  align-items: end;
  justify-content: end;
}

nav a {
  color: white;
  font-weight: 500;
  margin-right: 10px;
  text-decoration: none;

}
