*{
  color: blue;
  justify-content: center;
  align-items: center;
}
h4{
  margin-top: 40px;
}

h1{
  text-align: center;
}

strong{
  font-style: italic;
}

form{
  display: flexbox;
}

button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  color: white;
}

.container{
  margin-bottom: 100px;
}
