<div class="container">
  <div class="mat-elevation-z8">
  <mat-card-title>Listagem de Medicamentos</mat-card-title>
    <form action="" role="search">
      <input type="search" placeholder="Nome ou Código" >
    </form>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Título </th>
        <td mat-cell *matCellDef="let product"> {{product.title}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let product"> {{product.type}} </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Quantidade </th>
        <td mat-cell *matCellDef="let product"> {{product.amount}} </td>
      </ng-container>

      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> Código </th>
        <td mat-cell *matCellDef="let product"> {{product.code}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          <button mat-stroked-button color="primary">
            <i class="bi bi-file-plus-fill"></i>
          </button>
        </th>
        <td mat-cell *matCellDef="let product">
          <button mat-stroked-button (click)="editProduct(product)" *ngIf="hasPermissionToEdit">
            <i class="bi bi-pencil-square"></i>
            Editar
          </button>
          <button mat-stroked-button (click)="deleteProduct(product)" *ngIf="hasPermissionToDelete">
            <i class="bi bi-dash-square"></i>
            Excluir
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
