mat-card-title{
  padding: 20px;
}

input{
  width: 80%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 50px;
  margin-bottom: 5px;
  border-radius: 5px;
}

button{
  color: black;
  cursor: pointer;
}
